<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>AlarmWorkflow</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
          integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/stylesheets/style.css">
    <%-stylesheets%>
</head>
<body>
<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/">AlarmWorkflow</a>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Dashboard</a>
            </li>
            <% if(user.isAdmin){ %>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">System</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/system/users/">Benutzer - Verwaltung</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/system/jobs/">Job -&Uuml;bersicht</a>
                    <% for(var i=0; i < jobs.length; i++) { %>
                        <a class="dropdown-item" href="/system/jobs/<%= jobs[i].id%>/"><%= jobs[i].name%></a>
                    <% } %>
                </div>
            </li>
            <% } %>
            <li class="nav-item">
                <a class="nav-link" href="/">Adressbuch</a>
            </li>
        </ul>
        <ul class="navbar-nav my-2 my-lg-0">
            <li class="nav-item">
                <a class="nav-link active">Hallo, <%= user.username %></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/logout">Abmelden</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container">
    <%- body -%>
</div>

<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
<script src="/static/javascripts/content.js"></script>

<%-scripts%>

</body>
</html>